.boxes {
	float: right;
	overflow: auto;
}
.gray-box {
    background-color: #181a1b;
    width: 120px;
    border: 10px solid gray;
    height: 250px;
    overflow: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 0;
}
#gray-box-font {
	font-size: 15px;
	font-family: monospace;
}
#youtube {
    height: 40px;
    width: 60px;
}
#github {
    width: 50px;
    height: 50px;
}
#discord {
    height: 60px;
    width: 60px;
    margin: auto;
}
.gray-nav-box {
	background-color: #181a1b;
	width: 100px;
	border: 10px solid gray;
	height: 200px;
	padding-left: 5px;
	padding-right: 15px;
	overflow: scroll;
}
#gray-nav-box-font {
    font-size: 15px;
    font-family: monospace;
}
body {
    background-color: #181a1b;
}
h1{
    font-family: monospace;
    color: white;
}
p{
    font-family: monospace;
    font-size: 18px;
<<<<<<< HEAD
    color:white;
=======
    color: white;
>>>>>>> rework
}
